.waveform {
    margin-left: auto;
    margin-right: auto;

    display: block;
    position: relative;
    user-select: none;
    cursor: auto;
    overflow: hidden;
    max-width: 50.33%;
    min-width: 40.33%;
}

.waveform.PlayTrack {
    background-color: #F1F1F1;
}

.waveform.PlayMusicBar {
    background-color: #FFF;
}