.TrackTable {
    background-color: #F1F1F1;
}

.DurationSort {
    margin-right: 30px;
}

.RightAlignButton {
    display: flex;
    justify-content: flex-end;
}

.NameButton {
    margin-right: 30px;
    /* This will create a 30px gap to the right of the Name button. */
}